$header-height: 8vh;
$p-color: rgb(255, 255, 255);
$s-color: rgb(218, 218, 218); 
$dark-bg: rgba(7, 7, 7, 0.904);
$color-white: rgb(255, 255, 255); 

$text-white: rgb(255, 255, 255); 
$text-light: rgba(114, 114, 114, 1); 
$text-dark: rgb(0, 0, 0); 

$pastel-1: #ebfdee;
$pastel-2: #e8f0fb;
$pastel-3: #ffefe7;
$pastel-4: #feffc0;
$pastel-5: #faeeff;
