<div class="p-4">
    <div class="text-center p-2">
        <br /><b>IRM Privacy Policy</b>
    </div>
    <div>
        <br /><b>
            About IRM :
        </b>
    </div>
    <div>
        Investor Relationship Management or IRM is a tool owned by Startupshive Pvt Ltd. It allows Startups to log in,
        shortlist and connect with relevant investors through email and LinkedIn to showcase their startups and get
        funded.
        It is a global communications group catering to the startup community
        In this policy, when we refer to "IRM", “we” and “us,” we mean IRM by Startupshive Pvt Ltd. and its affiliates
        and their divisions, including but not limited to this service.

    </div>
    <div>
        <br /><b>
            Introduction to our Privacy Policy
        </b>
    </div>
    <div>
        This Privacy Policy and our related Privacy Notices (see below) describe how we collect, use, protect and share
        information about you that we obtain when you use our services, our websites or otherwise interact with us. If
        you are the subject of any personal data we may process, this policy also explains what your rights are.
        This policy applies to our Services which include (i) all the websites on which it is published (the "Websites")
        (ii) other online products and services provided by us through our websites or mobile apps; and (iii) databases,
        distribution services, articles, surveys, newsletters, webinars, media monitoring, and/or analytic reports.
    </div>
    <div>
        <br /><b>
            How this policy works with our other privacy notices and policies
        </b>
    </div>
    <div>
        This Policy should be read together with our related Information Security Policy, in particular our Customer
        Privacy Notice, our Data Privacy Notice for Media Contacts, and our Candidate Privacy Notice.
        Depending on how you interact with us, we will collect and process your personal information as follows:
        If you are a customer of any of our services - We will collect and process your individual contact information
        and other personal data in accordance with our Customer Privacy Notice and any other agreement that we may have
        with your business.
        If you are an influencer or other media contact in our media database - We will collect and process your contact
        information and media profile in accordance with our Data Privacy Notice – Influencers and Other Media Contacts.
        If you visit or register with any of our websites (other than as a customer or Influencer) - We will collect and
        use your personal information in accordance with this Privacy Policy. In particular, we may see how you use our
        websites and what content you interact with and for how long. This may involve the use of cookies which is
        explained in our Cookie Policy.
        If you are a supplier and you or your company provides us with goods or services or data - We may collect your
        individual contact information in order to communicate with you and may use other information that we need in
        order to manage our account with your business. We will process such data in accordance with this Privacy Policy
        and any other agreement that we may have with you.
        If you are invited to or attend one or our events - We will collect and process your contact information and any
        other information we may need to manage our invitation and your attendance (including for example dietary or
        special access requirements) in accordance with this Privacy Policy.
        If you apply for a job with us - We will process your personal information in accordance with our Candidate
        Privacy Notice which will be sent to you when you apply.
        If you are employed by us - We will process your personal information in accordance with our Employee Privacy
        Notice which will be provided to you when you join our staff.
        Relevant third-party terms - YouTube & Google
        Note to Journalists, Experts and PR Professionals: News and journalism are public activities. Your name,
        business contact details, and professional interests and affiliations may well already be publicly available,
        particularly if you are a journalist, a recognized expert, or a PR professional. We have created this Privacy
        Policy to inform you how we collect and process your personal information, and how we comply with our
        obligations to look after that information, and what your rights are.
        Please read this Privacy Policy carefully to understand how we will treat your information before you start to
        use our websites or communicate with us. By using our Services or communicating with us about them, you
        acknowledge that your personal information will be processed in accordance with this Privacy Policy, and in any
        other applicable privacy notice or policy (see above) including any updates and amendments. Your use of our
        Services and any dispute over privacy is subject to this Privacy Policy and any applicable Terms of Use,
        including any terms
    </div>
    <div>
        <br /><b>
            How We Collect Information from You
        </b>
    </div>
    <div>
        <br /><b>
            Information You Provide to Us
        </b>
    </div>
    <div>
        We collect information that you provide directly to us, including when you register for or order a Service; when
        a company, organization or individual authorizes you to manage its account or use our Services on its behalf;
        and/or when you subscribe to a newsletter, provide feedback about our Services or contact us with questions or
        comments about a Service.
        Information We Collect Through Your Use of our Services
        We collect certain technical information using cookies and other tracking mechanisms to help us operate and
        provide our Services to you. This information includes, without limitation:
        <ul>
            <li> Information about the systems and device(s) you use to access our Services, including MAC address, IP
                address,
                browser type and version, time zone setting, browser plug-in types and versions, operating system and
                platform,
                device type, and device identifiers;
            </li>
            <li> Information about your visits to the Websites, including the full URL clickstream to, through and from
                the
                Websites (including date and time);
            </li>
            <li> Information to facilitate your use of our Services (including to provide access to third-party websites
                and
                services), such as URL requests, destination IP addresses, or device configuration details; and
            </li>
            <li> Pages you view or search for, page response times, download errors, length of visits to certain pages,
                page
                interaction information (such as scrolling, clicks, and mouse-overs), your engagement with certain
                variable/dynamic elements of a page and methods used to browse away from the page.
            </li>
        </ul>
        If you decline to have us collect such information (for example, by disabling cookies; see Cookies & Other
        Tracking Mechanisms below), we may not be able to provide some or all of our Services to you.
    </div>
    <div>
        <br /><b>
            Information We Collect about You from Third Parties
        </b>
    </div>
    <div>
        Our Services may also, from time to time, contain links to and from social media platforms. You may choose
        to connect with us through a social media platform and when you do, and to the extent available, we may
        collect additional information from you, such as your user names, profile picture, contact information,
        contact list, and the profile pictures of your contacts, through the social media platform. Please be
        advised that social media platforms may also collect information from you. We do not have control over the
        collection, use and sharing practices of social media platforms and encourage you to review their usage and
        disclosure policies and practices, including the data security practices, before using the social media
        platforms.
        We may combine the information we collect about you from the various sources described above.
    </div>
    <div>
        <br /><b>
            How Your Information May Be Used
        </b>
    </div>
    <div>
        We may use any information we collect, including personal information and technical information, as
        described to you at the time of collection, for the following purposes:
        <ul>
            <li>
                Providing, maintaining and improving our Services. Operating and improving our Services (e.g.,
                administration, troubleshooting, managing account access, protecting security); evaluating our Services;
                developing new features, products, or services; and for other customer service and support purposes.
            </li>
            <li> Tailoring content. Personalizing the information and content we display to you, including marketing,
                promotional and sponsored content and advertising within the Services.
            </li>
            <li> Marketing and communications. Contacting you directly about your use of an account or Service for which
                you are registered; providing you with information about products or services, from us or third parties
                that
                may interest you; serving advertisements to you; and responding to your requests, feedback or questions.
            </li>
            <li> Research and analytics. Researching and analyzing how you interact with our Services, including to
                monitor
                usage and activity trends and for statistical purposes; creating reports for customers that may include
                both
                aggregate trends and the organizations that are viewing their releases, or accessing our Services or
                customer websites or otherwise using our Services; and measuring or understanding the effectiveness of
                content, communications, Website visits, web traffic, our Services, or advertising we or our customers
                serve
                to you and other customers like you, and to deliver relevant advertising to you and other customers like
                you.
            </li>
            <li> Legal compliance. Complying with laws, regulations and requests from law enforcement or other
                governmental
                entities; carrying out our obligations and enforce our rights arising from any contracts; and using as
                evidence in litigation.
            </li>
            <li> Protecting rights and interests. Protecting the safety, rights or property of Startupshive/ IRM or any
                third party; investigating, preventing or otherwise addressing activity that Startupshive, in its sole
                discretion, may consider to be or pose a risk of being, an illegal, unethical, or legally questionable
                activity.
            </li>
        </ul>

        We may also create aggregate or anonymous information about your and other users’ use of our Services for
        purposes similar to those listed above.
    </div>
    <div>
        <br /><b>
            How Your Information May Be Shared
        </b>
    </div>
    <div>
        We may share any information, including personal information as follows:
        <ul>
            <li> With our subsidiaries and affiliates, including any future subsidiaries or affiliates;
            </li>
            <li> With our service providers and sub-contractors to the extent reasonably necessary to enable us provide
                our
                Services (e.g., we use a third-party platform for e-mail and cannot communicate with you without
                disclosing
                your e-mail address to our third-party e-mail provider);
            </li>
            <li> With a third party with whom we must legally share information about you;
            </li>
            <li> With the company or organization you represent upon their request;
            </li>
            <li> With you or other third parties with your express consent;
            </li>
            <li> To comply with any court order, law or legal process, including to respond to any government or
                regulatory
                request;
            </li>
            <li> To investigate potential unauthorized access or misuse of our Services or otherwise enforce or apply
                our
                Terms of Use and other agreements;
            </li>
            <li> To protect our assets or rights, including for billing and collection purposes;
            </li>
            <li> If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of
                Startupshive our customers or others, including exchanging information with other companies and
                organizations for the purposes of fraud protection and credit risk reduction; and
            </li>
            <li> With any other entity disclosed by us when you provide the information.
            </li>
        </ul>
        We may also share aggregate or anonymous data for marketing, advertising, research, compliance, or other
        purposes.
        In the event that we receive a request from a governmental entity to provide it with your personal
        information, we will take reasonable attempts to notify you of such request, to the extent reasonably
        possible and legally permissible.
    </div>

    <div>
        <br /><b>
            Cookies & Other Tracking Mechanisms
        </b>
    </div>
    <div>
        <br /><b>
            Securing Your Personal Information
        </b>
    </div>
    <div>
        The security of your information is important to Startupshive, and we have implemented administrative,
        technical, and physical safeguards designed to protect personal information against theft or misuse.
        Unfortunately, no system can guarantee complete security of your information. As a result, while we strive
        to protect your personal information from unauthorized third parties, Startupshive cannot ensure or warrant
        the security of such information. Thus, your use of the Services and communications with us is at your own
        risk. You are responsible for protecting your username(s) and password(s) and for the security of
        information that you transmit to us over the internet.
        Children
        Our Services are directed to working professionals. Our Services are not intended for children under 16
        years of age or the relevant age of majority, and we do not knowingly collect personal information from
        children under that age. If you are under 13 years of age or the age of majority, you are not permitted to
        submit any personal information to us.
    </div>
    <div>

        <br /><b>
            Third-Party Information Collection
        </b>
    </div>
    <div>
        Third parties unaffiliated with us may also collect information about you, including tracking your browsing
        history, when you use our Services. We do not have control over these third-party collection practices and
        advise you to adjust the settings of your browsers or install plug-ins and add-ins if you wish to minimize
        these third party collections.
        Data Controller: Startupshive also provides information products designed to help customers research and
        plan their campaigns more effectively. In this function, Startupshive acts as a data controller of the
        personal information contained in these products and processes this personal information as a data
        controller.
    </div>
    <div>
        <br /><b>
            Legal Basis for Processing
        </b>
    </div>
    <div>
        We will only use your personal data when the law allows us to. Most commonly, we will use your personal data
        in the following circumstances:
        Where we need to process your information to perform the contract we are about to enter into or have entered
        into with you.
        Where we need to process your information to comply with a legal or regulatory obligation.
        Where it is in our legitimate interests to do so. Our legitimate interests include our legitimate commercial
        interests in operating the Startupshive Services and providing you with access to our Media Database. We
        make sure that we consider and balance any potential negative impact on you and your rights before we
        process your personal data for our legitimate interests. We do not use your personal data for activities
        where our interests are overridden by the impact on you. Where we have obtained your consent.
    </div>
    <div>
        <br /><b>
            Your rights
        </b>
    </div>
    <div>
        Your rights include the right to:
        • Access your personal information (via what is commonly known as a "data subject access request").
        • Require us to correct any mistakes in your information which we hold.
        • Require the erasure of personal information concerning you in certain situations.
        • Receive the personal information concerning you which you have provided to us, in a structured, commonly
        used and machine-readable format and have the right to transmit those data to a third party in certain
        situations.
        • Object at any time to processing of personal information concerning you for direct marketing.
        • Object to decisions being taken by automated means (including profiling) which produce legal effects
        concerning you or similarly significantly affect you.
        • Object in certain other situations to our continued processing of your personal information.
        • Otherwise restrict our processing of your personal information in certain circumstances.
        In some cases these will not apply to you, or to the particular use that we are making of your data, and
        there are exceptions (for example if we have to process the data to comply with our own legal obligations).
        You also have the right to make a complaint to your local data protection authority at any time. We hope
        that we would be able to resolve any concerns that you may have before you approach your data protection
        authority so please do contact us in the first instance.
    </div>
    <div>
        <br /><b>
            How long will we use your personal data?
        </b>
    </div>
    <div>
        We will keep your personal data only for as long as is necessary for the purposes set out in this privacy
        notice and to fulfil our legal obligations. We will not keep more data than we need.
    </div>
    <div>
        <br /><b>
            Changes to Our Privacy Policy
        </b>
    </div>
    <div>
        We may change this Privacy Policy from time to time to align with changes to our business practices and/or
        changes to our legal requirements. We will post the updated Privacy Policy on this page and will indicate
        that the updates have been made by changing the effective date first written above. We urge you to check
        back periodically to see whether there have been updates to our Privacy Policy.
        Your continued use of the Services or communication with us about the Services after the updated Privacy
        Policy has been posted (or any other indication of your consent) will constitute your acceptance of the
        updated Privacy Policy.
        Please note that we may condition your continued access to our Services on your consent to changes to this
        Privacy Policy.
    </div>
    <div>
        <br /><b>
            Contact
        </b>
    </div>
    <div>
        If you have questions, comments or requests relating to this Privacy Policy, or wish to opt out of any usage
        of your information as described herein, please e-mail us at support@startupshive.net
        or write to us at - Startupshive Pvt Ltd - No. 21, Rajshree Mansion, 4th Cross, Santhrupthi Nagar, Kothanur
        Main Road, JP Nagar 7th Phase, Bangalore - 560078

    </div>
    <div>
        <br />
        LAST UPDATED ON OCTOBER 27, 2022
    </div>
</div>