<div class="footer-container">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center">
            <div (click)="openPrivacy()" class="pointer">
                Privacy Policy
            </div>
            <div>
                <!-- Information Security Policy -->
            </div>
        </div>
        <div>
            <div class="text-center">
                Connect
            </div>
            <div>
                <a target="_blank" href="https://www.linkedin.com/company/startupshive/"><img src="assets/icons/linkedIn-logo.png" class="icons-new"></a>
                <a target="_blank" href="https://instagram.com/startupshive"><img src="assets/icons/instagram-logo.png" class="icons-new"></a>
                <a target="_blank" href="https://twitter.com/Startupshive01?t=RvVHJCopn6eDn2w0zv0vmA&s=09"><img src="assets/icons/twitter-logo.png" class="icons-new"></a>
                <!-- <a target="_blank" href=""><img src="assets/icons/youtube-logo.png" class="icons-new"></a> -->
                <a href="mailto:support@startupshive.net"><img src="assets/icons/mail-logo.png" class="icons-new"></a>
            </div>
        </div>
    </div>
</div>